/* .Home
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomeContent
{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    animation: fade-in 2s;
}
.HomeContent h1{
    font-weight: 500;
    font-size: 35px;
}

.HomeImg
{
    width: 45%;
}

.HomeImg img
{
    width: 90%;
    height: 90%;
  object-fit: cover;
  animation: fade-in 1s ease;
}
.HomeContent button
{
    background-color: rgb(87, 185, 16) ;
  font-size: 16px;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.2s ease;
}
.HomeContent button:hover
{
    background-color: tomato;
    color: white;
}

@media only screen and (max-width:768px){
    .Home
    {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    }
    .HomeContent
    {
        width: 80%;
    }
    .HomeImg
    {
        width: 60%;
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
   100%{
       opacity: 1;
   }
    
} */

.Home
{
    position: relative;
    width: 90%;
    height: 34vw;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.HomeImg
{
    width: 45%;
    height: 100%;
    border-radius: 50%;
    background-color: orange;
}
.HomeImg img
{
    height: 98%;
    width: 99%;
    border-radius: 50%;
    object-fit: contain;
    
}
.HomeContent
{
    padding: 0px 15px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* background-image: linear-gradient(to right, rgb(255, 243, 234), white); */
    /* background-color: rgb(214, 255, 214); */
    border-radius: 25px;
}
.HomeContent p
{
    width: 90%;
    margin:  2% 0%;
    
}
.HomeContent  h1
{
   margin: 2% 0%;
}
.HomeContent button
{
    color:#747474;
    color: black;
    font-weight: 600;
    padding: 1vw 2.3vw;
    font-size: max(1vw,13px);
    border-radius: 10px;
    background-color: rgba(255,255 ,255, 0.2);
    backdrop-filter: blur(10px);
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.4s, color 0.2s; 
}
.HomeContent button:hover
{
    background-color:orange; /* Background color on hover */
    color: white; /* Text color on hover */
    transform: translateX(-3px); /* Optional: Floating effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Shadow effect */
    border: red;
}
.FoodImages
{
    width: 35%;
    height: 80%;
    position: absolute;
    right: 5%;
    top :5%;
}
.imagecard
{
  width: 40%;
  height: 70%;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255,255 ,255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 5px gray;
}
.imagecard img
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.FoodImages-container
{
    width: 100%;
    height: 48%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width:600px)
{
    .HomeContent
    {
        border-radius: 10px;
    }
    .HomeContent p 
    {
       display: none;
    }
    .HomeContent h1
    {
        width: 100%;
       font-size: 18px;
    }
    .HomeContent button
    {
      padding: 5px 10px;
      border-radius: 10px;
      margin-top: 10px;
    }
    .FoodImages
    {
        width: 44%;
    }

}

@media (min-width:1100px)
{
    .HomeContent h1
    {
       font-size: 55px;
       width: 100%;
    }
    .HomeContent p
    {
        font-size: 19px;
    }
}