.OurSpeciality
{
    width: 90%;
    padding: 15px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minMax(250px,1fr));
    justify-items: center; 
   
}
.OurSpeciality img
{
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin: 10px 0px;
    border-radius: 15px; 
    border: 3px solid orange; 
}
.special
{
    position: relative;
}
.specialContent
{
    width: 235px;
    height: 180px;
    border-radius: 15px; 
    padding-left: 15px;
    padding-top: 15px;
    position: absolute;
    right: 0;
    left: 0;
    top: 20px;
    bottom: 0px;
    opacity: 0;
    transition: 0.6s;
}
.specialContent h3{
    color: orange;
    margin: 0%;
}
.specialContent:hover{
    opacity: 1;
    color: white;
    transform: translateY(-10px);
    background: rgba(0, 0, 0, 0.5);
}
.specialContent button
{
    margin: 5px 0px;
    padding: 5px 10px;
    background: none;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
}
.specialContent button:hover{
    background-color: white;
    color: black;
}